:javascript
  var SearchMap = new GMaps({
    div: '#search-result-map',
    lat: 49.4411696,
    lng: 32.0660754
  });
  SearchMap.setCenter(49.4411696, 32.0660754);
  var marker = SearchMap.addMarker({
    lat: 49.4411696,
    lng: 32.0660754
  });