#user_info
  .locale
  = link_to 'en', set_locale_path(locale: 'en')
  |
  = link_to 'ru', set_locale_path(locale: 'ru')
  - if user_signed_in?
    = image_tag(current_user.image.present? ? current_user.image_url(:tiny_thumb) : 'noavatar.gif', width: 50, height: 50, class: "circle-extrasmall")
    %div Hello, #{current_user.first_name}
