.field.col-md-6
  = f.label :kind, t('kind_of_catering'), class: 'center-block'
  = f.select :kind, options_for_select(Catering::KINDS::ALL)
.field.col-md-6
  = f.label :expensiveness, t('expensiveness'), class: 'center-block'
  = f.select :expensiveness, options_for_select(Catering::EXPENSIVENESS::ALL)
