= render 'shared/header'
.banner-grid-info.center-block
  %h3.text-upper The places where you might like...
.grid

:javascript
  $.get('/base_objects/find_address', {id: '#{object.id}'})
    .done(function (data) {
      $('#find_address_#{object.id}').text('Address: ' + data.address);
    });
.clearfix